

* {
  background-color: #EEEDE7;
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
  border: 0;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vh;
  align-content: center;
}

#header {
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.search_input {
  width: 30%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
}

.search_input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 50%;
  margin-left: 5px;
}

.search_input :focus {
  outline: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Card {
  display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.Card {
  flex: 0 1 calc(25% - 1em);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 40em) {
  .Cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .Card {
      flex: 0 1 calc(25% - 1em);
  }
}